.page {
  font-size: 18px;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  background: ghostwhite;
  padding: 2em;
  border-radius: 6px;
  max-width: min(65ch, 100%);
  max-height: 85vh;
  overflow-y: scroll;
  margin: .5em auto;
  text-align: justify;
}

.page h1,
.page h2,
.page h3,
.page h4 {
  text-align: left;
}

.page h1 {
  font-size: 3rem;
}

.page h2 {
  font-size: 2rem;
}

.page h3 {
  font-size: 1.5rem;
}

.page blockquote {
  border-left: 5px solid darkgreen;
  border-radius: 13px;
  padding-left: 1em;
  margin-left: 1.25em;
  font-style: italic;
}

.page a {
  color: green;
}
.page a:hover {
  color: darkolivegreen;
}
.page a:visited {
  color: darkgreen;
}


@media all and (max-width: 600px) {
  .page {
    font-size: 16px;
  }
}
